.container {
	min-height: 300px;
}
#front-page {
	text-align: center;
	width: 100%;
}
#input_url {
	display: inline-block;
	font-size: 1.7em;
	height: 1.3em;
	width: 80%;
}
.btn {
	display: inline-block;
	font-size: 1.2em;
	height: 1.8em;
	width: 200px;
}
.btn-bl {
	background-color: #0088cc;
}

code {
	border-radius: 4px;
	font-size: 90%;
}
.pinput {
	height: 75px;
}

.darkClass
{
    background-color: black;
    filter:alpha(opacity=95); /* IE */
    opacity: 0.95; /* Safari, Opera */
    -moz-opacity:0.95; /* FireFox */
    z-index: 20;
    height: 90%;
    width: 90%;
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    padding: 10px;
    top: 10px;
    left: 5%;
    color: white;
    border-radius: 10px;
}
